<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a student from <a class="underline-link" href="https://ec-lyon.fr/" target="_blank">Ecole Centrale de Lyon</a> and <a class="underline-link" href="www.ensam-umi.ac.ma" target="_blank">Ecole d'Arts et Métiers Maroc</a> (Double Degree). <br>
      I have a strong background in Artifcial Intelligence, Data Science and Optimization.
      I have also completed many e-courses, such as <a class="underline-link" href="https://www.coursera.org/account/accomplishments/specialization/certificate/E4L6TRDT9PTL" target="_blank">Deep Learning Specialization</a> course from deeplearnin.ai.
    </p>

    <!-- <p>
      I'm dedicated to bridging the gap between engineering and end-user experience — combining my technical knowledge with my keen eye for design to create high performance products. 
      My goal is to build applications that are clean, scalable, and efficient under the hood in order to provide seamless user experience.
    </p> -->

    <p>
      I
      <!-- In the past, I have worked with the Bjarke Ingels Group (BIG), Office for Metropolitan Architecture (OMA), 3XN, and Revery Architects.  -->
      I have consulted for smart city integration for the University of Waterloo campus for <a class="underline-link" href="https://www.engsoc.uwaterloo.ca/events/waterloo-engineering-competition/" target="_blank">Waterloo Engineering Competition (WEC)</a>, and have also given a talk at the <a class="underline-link" href="https://ncc-ccn.gc.ca/the-urbanism-lab" target="_blank">National Capital Commission's Urbanism Lab</a> regarding my award winning proposal for the City of Ottawa riverfront.
    </p>
    
    {% include employment-status.html %}
  </div>
</section>
