<section class="section featured-projects">
  <div class="section__title">Featured Project</div>
  <div class="section__content">

    <div class="project web3d">
      <figure class="project__pic">
        <a href="https://github.com/anasselhoud/data-science-projects" target="_blank">
          <img src="{{site.baseurl}}/img/featured/web3d/Sans titre-1.png" alt="image not found">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/anasselhoud/data-science-projects" target="_blank">Data Science Projects</a>
        </div>
        <p>
          Set of Interactive Data Analysis projects. Set of my different professional and personnal data science projects and challenges.
        </p>
      </figcaption>
    </div>
    
    <div class="project web3d">
      <figure class="project__pic">
        <a href="https://github.com/anasselhoud/BigQuerry-Datastudio" target="_blank">
          <img src="{{site.baseurl}}/img/featured/descripanal/1.png" alt="image not found">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/anasselhoud/BigQuerry-Datastudio" target="_blank">Descriptive Analysis of Top 2% Scientists in the world using Google Cloud</a>
        </div>
        <p>
         Using BigQuery and Google Data studio, I set an interactive Descriptive Analysis of the top 2% scientists in the world dataset (based on a published paper).
        </p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://github.com/anasselhoud/CoVid-19-RNN" target="_blank">
            <img src="{{site.baseurl}}/img/featured/screentime/projectcovid.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/anasselhoud/CoVid-19-RNN" target="_blank">Prediction of the evolution of COVID-19 Pandemic</a>
        </div>
        <p>
          Applying RNN (specifically LSTM) to predict and project the evolution of number of confirmed cases, deaths and recoveries.
        </p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://towardsdatascience.com/@anass.elhoud" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://towardsdatascience.com/@anass.elhoud" target="_blank">My articles on Towards Data Science </a>
        </div>
        <p>Democratizing knowledge about AI in general, Machine Learning, Data Science, and related topics in an attempt to provide broader access to educational resources.</p>
      </figcaption>
    </div>
  </div>
</section>
